  
* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}
.nav{
  height: 3rem;
  align-items: center;
  padding: 0.8rem;
}
.header{
  width: 100%;
  background: #ED6707;
  align-items: center;
}
.header__nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titel{
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 1rem;
  font-family: Lato;
  color: #FFF;
  flex: 3;

}

.fas{
  color: #FFF;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
